* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #61666D;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 600;
}

body {
    text-align: center;
    margin: 0 auto;
    min-width: 1200px;
}

.top {
    text-align: center;
    width: auto;
    height: 80px;
    background-image: url(../img/0-0.jpg);
}

.center {
    height: 72px;
    width: 92%;
    margin: 15px 4%;
}

/* .center div {
    background-color: pink;
} */

.down {
    width: 92%;
    height: 400px;
    margin: 0 4%;
    /* background-color: blue; */
}

.lunbotu {
    float: left;
    width: 519px;
    height: 392px;
    overflow: hidden;
    border-radius: 20px;
}

.neirong {
    float: left;
    width: calc(100% - 519px);
    height: 392px;
    overflow: hidden;
    text-align: center;
}